<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neila.vinylback.mapper.UserMapper">
    <select id="list" resultType="com.neila.vinylback.dto.UserDTO">
        select id, username, avatar_path,status from `user`
        <if test="username != null">
            where username like #{username}
        </if>
    </select>


</mapper>